* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-geral {
    display: flex;
    height: 100vh;
}

.img-lateral {
    flex: 1;
    background: url('../img/fundocadmsc.jfif') no-repeat center center; 
    background-size: cover;
}

.form-container {
    flex: 1;
    background: linear-gradient(135deg, #4b006e, #2f1043, #8a054c);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: #fff;
    position: relative;
}

.logo {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 90px;
    height: 90px;
    background: url('/login/img/logo.png') no-repeat center;
    background-size: contain;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 25px;
    text-align: center;
    grid-column: 1 / -1; 
}

.form-cadastro {
    background: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 40px;
    width: 90%; 
    max-width: 800px; 
    
    display: grid;
    grid-template-columns: 1fr 1fr; 
    gap: 20px; 
    
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

.form-cadastro input {
    background: rgba(255, 255, 255, 0.1);
    border: none;
    padding: 15px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    outline: none;
    transition: background-color 0.3s, color 0.3s;
    width: 100%;
}

.form-cadastro input[name="nome"] {
    grid-column: 1 / -1;
}

.form-cadastro input:not([type="file"]):valid, 
.form-cadastro input:not([type="file"]):focus {
    background-color: #ffffff; 
    color: #000; 
}

.form-cadastro input::placeholder {
    color: #b8b8b8;
}

.file-label {
    background: rgba(255, 255, 255, 0.1);
    color: #b8b8b8;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    display: flex; 
    align-items: center;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    transition: 0.3s;
    width: 100%;
}

.file-label:hover {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.file-label.file-selected {
    background-color: #ffffff; 
    color: #000; 
    font-weight: 500; 
}

button {
    background: linear-gradient(90deg, #6401b0, #8b02d1);
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 14px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
    
    grid-column: 1 / -1; 
}

button:hover {
    background: linear-gradient(#7c0fd6, #a130ff);
}

@media (max-width: 768px) {
    .form-cadastro {
        grid-template-columns: 1fr;
        max-width: 350px;
    }
}